@tailwind base;
@tailwind components;
@tailwind utilities;

@import './styles/components.css';
@import './styles/gradients.css';

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply text-white bg-slate-950;
  }
}

.glow-effect {
  position: relative;
  display: inline-block;
}

.glow-effect::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border-radius: 12px; /* Match the rounded corners of your image */
  background: linear-gradient(45deg, #ff6ec4, #7873f5);
  filter: blur(8px);
  opacity: 0.25;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.glow-effect:hover::before {
  transform: scale(1.05);
  opacity: 0.4;
}


/* card design  */
@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slide-in-left {
  animation: slideInLeft 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.animate-slide-in-right {
  animation: slideInRight 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
