@tailwind base;
@tailwind components;
@tailwind utilities;

@import './styles/components.css';
@import './styles/gradients.css';

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply text-white bg-[#30121B];
  }
}

.glow-effect {
  position: relative;
  display: inline-block;
}

.glow-effect::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border-radius: 12px; /* Match the rounded corners of your image */
  background: linear-gradient(45deg, #ff6ec4, #7873f5);
  filter: blur(12px);
  opacity: 0.8;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.glow-effect:hover::before {
  transform: scale(1.05);
  opacity: 1;
}

